
<% if(messages.sent){ %>
    <div id="hideAlert" class="alert alert-<%=messages.success%>"> <%=messages.sent%> </div>
<% } %>
<p>Zapomniałeś hasła?</p>
<form method="POST" action="/admin-forgot">
    <label for="forgotPassword"></label>
    <input type="text" id="forgotPassword"name="forgotPassword" placeholder="Podaj swój email"  required autofocus>

    <button type="submit">Resetuj</button>
</form>