
<%-include('../partials/indexMessage.ejs')%>
<div class="center-main-div">
    <div class="main-div" >
            <h1>Logowanie</h1>
            <form method="POST" action="/admin-login">
                <label for="loginEmail"></label>
                <input type="email" id="loginEmail"name="email" placeholder="Email"  >
            
                <label for="loginPassword"></label>
                <input type="password" id="loginPassword"name="password" placeholder="Hasło">
            
                <button type="submit">Zaloguj</button>
            </form>
            <div class="href-div">
                <a href="/admin-register">Nie masz konta? Zarejestruj się!</a><br>
                <a href="/admin-forgot">Nie pamiętasz hasła?</a>
            </div>
        </div>
    </div>
    

