<h1>Rejestracja</h1>

<div id="hideAlert">
    <% if(messages.err){ %>
        <% messages.err.forEach(element => {%>
            <div class="alert alert-danger"><%= element%></div>
        <%}); %> 
     
    <% } %>
</div>

<form method="POST" action="/admin-register">
    
    <label for="email"></label>
    <input type="email" id="email"name="email" placeholder="Email"  >

    <label for="password"></label>
    <input type="password" id="password"name="password" placeholder="Hasło" >

    <label for="confirmPassword"></label>
    <input type="password" id="confirmPassword" name="ConfirmPassword" placeholder="Potwierdź Hasło"  >

    <button type="submit">Zarejestruj</button>
</form>
<a href="/">Anuluj</a>

