
<div id="hideAlert">
    <% if(messages.err){ %>
        <% messages.err.forEach(element => {%>
            <div class="alert alert-danger"><%= element%></div>
        <%}); %> 
     
    <% } %>
</div>
<div class="center-main-div">
    <div class="main-div" >
        <h1>Rejestracja</h1>
        <form method="POST" action="/admin-register">
            
            
            <input type="email" id="email"name="email" placeholder="Email"  >

            
            <input type="password" id="password"name="password" placeholder="Hasło" >

          
            <input type="password" id="confirmPassword" name="ConfirmPassword" placeholder="Potwierdź Hasło"  >
       
            <button type="submit">Zarejestruj</button>
     
                <a href="/admin-login">Masz Konto? Zaloguj się!</a>


         
          

        </form>

    </div>
</div>

