<% if(messages.error){ %>
    <div  id="hideAlert" class="alert alert-<%=messages.danger%>"><%= messages.error%></div>
<% } %>

<div>
    <p>Zmień hasło </p>
    <p>Dobrze jest użyć silnego hasła, którego nie używasz gdzie indziej</p>
    <form action="/admin/settings/change-password?_method=PUT" method="POST">
        <input value="<%=admin.password%>" type="password">
        <input type="password" name="newPassword" placeholder="Nowe Hasło">
        <input type="password"name="confirmNewPassword" placeholder="Potwierdź Hasło">
        <button type="submit">Zapisz zmiany</button>
    </form>
</div><br><br>

<div >
    <p>Zmień email </p>
    <form action="/admin/settings/change-email?_method=PUT" method="POST">
        <input value="<%=admin.email%>" type="email">
        <input type="email" name="newEmail"placeholder="Nowy Email">
        <input type="email" name="confirmNewEmail" placeholder="Potwierdź Email">
        <button type="submit">Zapisz zmiany</button>
    </form>
</div><br><br>

