<%-include('../partials/infoMessages.ejs')%>
<form action="/document" method="post" enctype="multipart/form-data">
    <input type="file" name="file" multiple/>
    <input type="submit" value="dodaj">
</form>

<div>

    <% if(files) {%> 
        <form action="/document?_method=DELETE" method="POST">
            <input type="submit" value="Usuń">
            <%files.forEach(file =>{%>
                <% if(file.metadata.user == user){%>
                    <p name="fileDelete" value="<%=file._id%>"> <%= file.metadata.initialFilename %> </p>
                    <input name="deleteRow" type="checkbox" value="<%=file._id%>">
                    <hr>
                <%} %> 
            
            <%  })%>
        </form>
    <% } %>
</div>
<script>
    window.onload = function(){
        if(!window.location.hash){
        window.location = window.location +'#loaded';
        window.location.reload();
        }
    }
</script>