<header>
    <nav>
        <a href="/calendar">Beauty Academy</a>
        <ul>
           <li> <a href="/clients">Klientki</a></li>
           <li> <a href="/treatment">Zabiegi</a></li>
           <li><a href="/shoppingList">Lista Zakupów</a></li>
           <li> <a href="/settings">Ustawienia</a></li>
           <li><a href="/logout">Wyloguj</a></li>
        </ul>
    </nav>
</header>