
<nav>
    <div class="nav-wrapper ">
        
        <a class="brand-logo right" href="/logout" >
            <i class="material-icons">keyboard_tab</i>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/admin">Admin Panel</a></li>
        
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/admin">Admin Panel</a></li>
    <li><a href="/logout">Wyloguj</a></li>

</ul>
