<header>
    <nav>
        <a href="/calendar">Beauty Academy</a>
        <ul>
           <li> <a href="/clients">Klientki</a></li>
           <li> <a href="/treatment">Zabiegi</a></li>
           <li><a href="/shopping-list">Zakupy Firmowe</a></li>
           <li><a href="/document">Dokumenty</a></li>
           <li><a href="#">Statystyki</a></li>
           <ul> 
                <li><a href="/statistics">Statystyki Sprzedaży Klienci</a></li>
                <li><a href="/statistics/treatment">Statystyki Sprzedaży Zabiegów</a></li>
                <li><a href="/statistics/shopping">Statystyki Zakupu Produktów</a></li>
            </ul>
           <li> <a href="/settings">Ustawienia</a></li>
           <li><a href="/logout">Wyloguj</a></li>
        </ul>
    </nav>
</header>