<div class="header-bar">
    <div class="menu">
        <div class="left-menu">
            <div class="left-side-bar">
                <a href="/calendar">Beauty Academy</a>
                <a href="/clients">Klientki</a>
                <a href="/treatment">Zabiegi</a>
                <a href="/shopping-list">Zakupy Firmowe</a>
                <a href="/document">Dokumenty
                   
            </div>
            <div class="dropdown-settings">
                <a href="#">Statystyki</a>
                <ul  class="dropdown-menu-settings"> 
                    <li><a href="/statistics">Statystyki Sprzedaży Klienci</a></li>
                    <li><a href="/statistics/treatment">Statystyki Sprzedaży Zabiegów</a></li>
                    <li><a href="/statistics/shopping">Statystyki Zakupu Produktów</a></li>
                </ul>
            </div>
        </div>

        <div class="dropdown">
            <div class="user-circle"><i class="far fa-user"></i></div>
            <ul class="dropdown-menu">
                
                <li> <a href="/settings">Ustawienia</a></li>
                <li><a href="/logout">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 

<nav>
      
    <a href="/calendar">Beauty Academy</a>
    <ul>
       <li> <a href="/clients">Klientki</a></li>
       <li> <a href="/treatment">Zabiegi</a></li>
       <li><a href="/shopping-list">Zakupy Firmowe</a></li>
       <li><a href="/document">Dokumenty</a></li>
       <li><a href="#">Statystyki</a></li>
       <ul> 
            <li><a href="/statistics">Statystyki Sprzedaży Klienci</a></li>
            <li><a href="/statistics/treatment">Statystyki Sprzedaży Zabiegów</a></li>
            <li><a href="/statistics/shopping">Statystyki Zakupu Produktów</a></li>
        </ul>
 
    </ul>
</nav>
-->

