<div class="header-bar">
    <div class="menu">
        <div class="left-menu">
            <div class="left-side-bar">
                <a href="/calendar"><%=user.companyName%></a>
                <a href="/clients">Klientki</a>
                <a href="/treatment">Zabiegi</a>
                <a href="/shopping-list">Zakupy Firmowe</a>
                <a href="/document">Dokumenty
                   
            </div>
            <div class="dropdown-settings">
                <a href="#">Statystyki</a>
                <ul  class="dropdown-menu-settings"> 
                    <li><a href="/statistics">Statystyki Sprzedaży Klienci</a></li>
                    <li><a href="/statistics/treatment">Statystyki Sprzedaży Zabiegów</a></li>
                    <li><a href="/statistics/shopping">Statystyki Zakupów Firmowych</a></li>
                </ul>
            </div>
        </div>

        <div class="dropdown">
            <div class="user-circle"><i class="far fa-user"></i></div>
            <ul class="dropdown-menu">
                
                <li> <a href="/settings">Ustawienia</a></li>
                <li><a href="/logout">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>


