<header>
    <nav>
        <a href="/calendar">Beauty Academy</a>
        <ul>
           <li> <a href="/clients">Klientki</a></li>
           <li> <a href="/settings">Ustawienia</a></li>
        </ul>
    </nav>
</header>