<div class="header-bar">
<header>
    <nav>
        <div class="menu">
            <div class="left-side-bar">
                <a href="/admin">Admin Panel</a>
            </div>
            <div class="dropdown">
                <div class="user-circle"><i class="far fa-user"></i></div>
                <ul class="dropdown-menu">
                    
                    <li><a href="/admin/settings">Ustawienia</a></li>
                    <li><a href="/admin-logout">Wyloguj</a></li>
                </ul>
            </div>
        
        </div>  
    
    </nav>
</header>
</div>