<% if(messages.error){ %>
    <div class="alert alert-danger"><%= messages.error %> </div>
<% } %> 
<% if(messages.logged){ %>
    <div  id="hideAlert" class="alert alert-success"><%= messages.logged%></div>
<% } %>