

<% if(messages.mess){ %>
    <section class="<%= messages.type%>">
        <%messages.mess.toString().split(',').forEach((message, index)=>{ %>
            <p > <%= message%>.</p>
        <%})%> 
    </section>
<% } %>
