
    <div class="clients-list">
       
        <ul class="list-client list"  >
            <% brandName.forEach(brand => { %>
                <li value="<%=brand.id%>" ><%=brand.name%></li>
            <%}); %>
        </ul>
    </div>


    