<div class="clients-list  edit">
    <input   class="hiddenInput" type="text" style="display: none;">
    <ul class="list-client list"  >
        <% clients.forEach(client => { %>
            <li value="<%=client.id%>" phone="<%=client.phoneNumber%>" ><%=client.name%> <%=client.lastName%></li>
        <%}); %>
    </ul>
</div>


