
<div class="treatments-list">
    <input  class="hiddenInputTreatment" type="text" style="display: none;" >
    <ul class="listTreatment list"  >
        <% treatments.forEach(treatment => { %>
            <li value="<%=treatment._id%>"><%=treatment.treatmentName%></li>
        <%}); %>
    </ul>
    
    <input type="text" class="clientState"name="clientState" style="display: none;">
    <input  type="text" class="treatmentState"name="treatmentState" style="display: none;">
</div>
