<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Description" content="Sprawdź jak prowadzenie firmy może być proste dzieki Beuaty Base.">

    <title>Beauty Base</title>
    <link rel="stylesheet" type="text/css" href="../../public/fontAwesome/css/all.css">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
    rel = "stylesheet">
    <% for(var i=0; i < styles.length; i++) { %>
        <link href="<%= styles[i] %>" rel="stylesheet"  type="text/css"  >
    <% } %> 
</head>
<body >
    <div class="pageContentWrapper">
      <% if(user) { %>
       
            <%-include('../partials/header')%>
        
    <% }else{%>
        <%-include('../partials/initialHeader')%>
    <% } %>  

 

    
        <%- body %> 
    </div>
    
    <footer class='footer'>
        <p>Copyright ® All rights reserved 2020  Karolina Wiaderek </p>
    </footer>
   

 
 
    <script type="text/javascript"  src="../../public/index.js"  charset="utf-8"></script> 
</body>
</html>