
<div class="margin-top margin-bottom-3" id='calendar'></div>
<!--create new visit-->
<div class="form-styling-small modal" id="createVisit">
    <form method="POST" action="/calendar/visit" class="modal-content content-styling" id="create-visit-form">
        <%-include('../calendar/create-visit.ejs', {id_extention:1})%>
        <div class="center-button">
            <button id="button-1" class="btn waves-effect submit-button" type="submit" aria-label="create-visit-form">Dodaj</button>
        </div>
    </form>
</div>
<!--edit visit gdy tego nie ma to datalist działa-->
<div class="form-styling-small modal "  id="visit">
    <form method="POST"  action="" class="modal-content content-styling"  id="visit-form">
        <%-include('../calendar/create-visit.ejs',{id_extention:2})%>
        <div class="center-button">
            <button id="edit" class="btn waves-effect submit-button-small" type="submit" aria-label="create-visit-form">Edytuj</button>
            <button id="delete" class="btn waves-effect submit-button-small" type="submit" aria-label="create-visit-form">Usuń</button>
        </div>
    </form>

</div>

<%-include('../partials/shopping-list.ejs')%>
<script  src='/modules/fullcalendar/main.js'></script>
<script  type="text/javascript"  src="../../public/js/calendarAPI.js"  charset="utf-8"></script> 