<div class="row main-row z-depth-1">
    <form class="form-search-create-visit col s12"  action="/calendar" method="GET">
        <div class="input-field col s12 m6 l4 xl5">
            <input class="datepicker" name="visitAfter" type="text"  autocomplete="off" value="<%=searchOptions.visitAfter%>"  />
            <label class="active" for="dataFrom">Od</label>
        </div>
        <div class="input-field col s12 m6 l4 xl5">
            <input value="<%=searchOptions.visitBefore%>" class="datepicker"  type="text"  name="visitBefore"   autocomplete="off" />
            <label class="active" for="dataTo">Do</label>
        </div>
        <div class="row button-row">
            <div class="col s12 m1 l1 center-button-small">
                <button type="submit" class="waves-effect waves-light search-button btn-small  "aria-label="search-by-date"><i class="large material-icons">search</i></button>

            </div>
            <div class="col s12 m1 l1 center-button-small">
                <button href="#createVisit" class="waves-effect waves-light  modal-trigger btn-small  "><i class="large material-icons">add</i></button>

            </div> 
        </div>
    </form>
</div>