<form action='/clients/clientView/<%=curentVisit%>/editPost?_method=PUT' method="POST">
    <%- include('./_form_fields_editPost.ejs') %> 
    <a href="/clients/clientView/<%= clientId %> ">Anuluj</a>
    <button type="submit">Aktualizuj</button>
</form>