<label class="separate">
    <input type="checkbox"  name="coloredHair"  class="disabled" <%=oneClient.hairAfterChemicalTreatments.coloredHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy po farbowaniu</span>
</label>
<label class="separate">
    <input type="checkbox"  name="lightenedHair" class="disabled" <%=oneClient.hairAfterChemicalTreatments.lightenedHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy po rozjaśnianiu </span>
</label>
<label class="separate">
    <input type="checkbox"  name="shadedHair"  class="disabled" <%=oneClient.hairAfterChemicalTreatments.shadedHair==true? 'checked="checked" ' :''%> disabled="disabled">
  <span>Włosy po tonowaniu</span>
</label>
<label class="separate">
    <input type="checkbox"  name="permHair" class="disabled" <%=oneClient.hairAfterChemicalTreatments.permHair==true? 'checked="checked" ' :''%> disabled="disabled" >
  <span>Włosy po trwałej ondulacji</span>
</label>