<h2>All clients</h2>

<form method="GET" id="myform">
    <label>Name</label>
    <input type="text" name="name" value="<%=searchOptions.name  %> ">
</form>
<a href="/clients/new">Dodaj klienta</a>
<br>
<table>
    <thead>
        <tr>
            <th >Imie</th>
            <th >Numer telefonu</th>
        </tr>
    </thead>
    <tbody>
    <% clients.forEach(client => {%> 
    <tr>
        <td><%=client.name%> <%=client.lastName%></td>
        <td><%=client.phoneNumber%></td>
    </tr>
    <% }); %> 
    </tbody>
</table>
