
    <label for="input"></label>
    <input type="text" id="input" placeholder="Nazwa zabiegu" value="<%=treatment.treatmentName%>" name="treatmentName"  required >

    <label for="treatmentPrice"></label>
    <input type="number" id="treatmentPrice" placeholder="Cena zabiegu" value="<%=treatment.treatmentPrice%>" name="treatmentPrice" required>

