<div class="row max-width-row top-separation-3">
    <div class="col s12 m12 l12  " >
        <div class="card  ">
            <div class="card-content">
                <h2 class="text-align">Zmień Hasło</h2>
                <form  method="POST" action="/change-password">
                    <div class="input-field input-field-color-change col s12  ">
                        <input id="secretToken" type="text" name="secretToken" class="validate" required autocomplete="off">
                        <label for="secretToken">Wprowadź token</label>
                    </div>
                    <div class="input-field input-field-color-change col s12  ">
                        <input id="loginPassword" type="password" name="password" class="validate">
                        <label for="loginPassword">Hasło</label>
                    </div>
                    <div class="input-field input-field-color-change col s12  ">
                        <input id="passwordConfirm" type="password" name="passwordConfirm" class="validate">
                        <label for="passwordConfirm">Hasło</label>
                    </div>
                    <div class="center-button">
                        <button class="btn waves-effect submit-button teal lighten-2
                        " type="submit" aria-label="create-visit-form">Logowanie</button>
                    </div>
                </form>
                <div class="top-separation-2 padding-text">
                    <a class="text-color" href="/">Nie masz konta? Zarejestruj się!</a><br>
                    <a class="text-color"href="/forgot">Nie pamiętasz hasła?</a>
                </div>
            </div>
        </div>
    </div>
</div>
