<link rel="stylesheet" type="text/css" href="../../public/css/newPassword.css">
<% if(messages.error){ %>
    <div  id="hideAlert" class="alert alert-<%=messages.danger%>"><%= messages.error%></div>
<% } %>
<div class="center-main-div">
    <div class="main-div" >
        <h1>Zmień Hasło</h1>
        <form method="POST" action="/change-password">
            <label for="secretToken">Wprowadź Kod</label><br>
            <input type="text" id="secretToken"name="secretToken" placeholder="Wprowadź Kod"  required autofocus>
            <input type="password" id=""name="password" placeholder="Hasło"  required >
            <input type="password" id=""name="passwordConfirm" placeholder="Potwierdź hasło"  required >
            <button type="submit">Dalej</button>
        </form>
    </div>
</div>
