<% if(messages.logged){ %>
    <div id="hideAlert" class="alert alert-<%=messages.success%>"> <%=messages.logged%> </div>
<% } %>



<div class="main-div">
    <div class="scroll">
        <h1>BEAUTY BASE</h1>
        <div class="text-content">
            <p>Prowadź statystyki, kalendarz, karte klienta i wiele więcej. 
                Dzięki BEAUTY BASE organizacja gabinetem będzie prosta jak nigdy wcześniej!
            </p>
            <p>Jeśli nie masz konta zarejestruj się!</p>
        </div>
    
        <div class="display-wrap">
            <a href="/login">Logowanie</a>
            <a href="/registration">Rejestracja</a>
        </div>
    </div>
 

</div>

