<% if(messages.logged){ %>
    <div id="hideAlert" class="alert alert-<%=messages.success%>"> <%=messages.logged%> </div>
<% } %>
<a href="/login">Logowanie</a>
<a href="/registration">Rejestracja</a>