<h1>Logowanie</h1>
<% if(messages.error){ %>
    <div id="hideAlert"class="alert alert-danger"><%= messages.error %> </div>
<% } %> 
<% if(messages.logged){ %>
    <div  id="hideAlert" class="alert alert-<%=messages.success%>"><%= messages.logged%></div>
<% } %>
<form method="POST" action="/login">
    <label for="loginEmail"></label>
    <input type="email" id="loginEmail"name="email" placeholder="Email"  >

    <label for="loginPassword"></label>
    <input type="password" id="loginPassword"name="password" placeholder="Hasło">

    <button type="submit">Zaloguj</button>
</form>
<a href="/">Anuluj</a>