<link rel="stylesheet" type="text/css" href="../../public/css/registrationUser.css">
<h1>Rejestracja</h1>
<div id="hideAlert">
    <% if(messages.err){ %>
        <% messages.err.forEach(element => {%>
            <div class="alert alert-danger"><%= element%></div>
        <%}); %> 
     
    <% } %>
</div>
<div class="center-main-div">
    <div class="main-div">
        <form method="POST" action="/registration">
            <div class="right-side-form">
                <label for="companyName"></label>
                <input type="text" id="companyName" name="companyName" placeholder="Nazwa Firmy" >
            
                <label for="email"></label>
                <input type="email" id="email"name="email" placeholder="Email"   >
            </div>
            <div class="left-side-form">
                <label for="password"></label>
                <input type="password" id="password"name="password" placeholder="Hasło" >
            
                <label for="confirmPassword"></label>
                <input type="password" id="confirmPassword" name="ConfirmPassword" placeholder="Potwierdź Hasło"  >
            
            </div>
        
            
            <button type="submit">Zarejestruj</button>
        </form>
        <a href="/">Anuluj</a>
    </div>
</div>


