
<div id="hideAlert">
    <% if(messages.err){ %>
        <% messages.err.forEach(element => {%>
            <div class="alert alert-danger"><%= element%></div>
        <%}); %> 
     
    <% } %>
</div>
<div class="center-main-div">
    <div class="main-div">
        <h1>Rejestracja</h1>
        <form method="POST" action="/registration">
            <div class="form-div">
                <div class="right-side-form">
                    <input type="text" id="companyName" name="companyName" placeholder="Nazwa Firmy" >
                
                    <input type="email" id="email"name="email" placeholder="Email"   >
                </div>
                <div class="left-side-form">
                    <input type="password" id="password"name="password" placeholder="Hasło" >
                
                    <input type="password" id="confirmPassword" name="ConfirmPassword" placeholder="Potwierdź Hasło"  >
                
                </div>
            </div>
        
            <div class="buttons">
                <button type="submit">Zarejestruj</button>
                
                <a href="/login">Masz konto? Zaloguj się !</a>

               
            </div>
        </form>
       
    </div>
</div>


