<div class="row max-width-row top-separation-3">
    <div class="col s12 m12 l12  " >
        <div class="card  ">
            <div class="card-content">
                <h2 class="text-align">Weryfikacja</h2>
                <form  method="POST" action="/verify?_method=PUT">
                    <div class="input-field input-field-color-change col s12  ">
                        <input id="secretToken" type="text" name="secretToken" class="validate" required>
                        <label for="secretToken">Klucz Weryfikacyjny</label>
                    </div>
                    <div class="center-button">
                        <button class="btn waves-effect submit-button teal lighten-2
                        " type="submit" aria-label="create-visit-form">Zweryfikuj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

